@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1{
  padding-left: 13%;
}

.continut {
  align-content: center;
  padding-left: 30%;
}

.box {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  align-content: center;
  text-align: center;
  position: center;

}

.full {
  width: 100%;
  align-content: center;
  text-align: center;


}
.submit-button
{
  padding-left: 20%;
}


